/* CSS file for Project 2: Mobile-First Responsive Layout ------*/

.main-nav {
    width: 70%;
    background: white;
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
    border: 2px red;

nav li {
    float: left;
  }

  nav {
    display: inline-block;
  }




  /* ================================= 
 Media Queries 
==================================== */

@media (min-width: 769) {
    .container {
        width: 70%;
        max-width: 1000px;
        margin: 0 auto;
    }

}