/* CSS file for Project 2: Mobile-First Responsive Layout ------*/
/* =================================
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.6;
  color: #001524;
  background-color: #F0EBD8;
  padding: 20px;
  text-align: center;
}
  
header {
  text-align: center;
  margin: 10px;
}

p {
  font-size: 1em;
  margin: 1.5em;
}

h1 {
  color: #0D1321;
  text-shadow: 1px 1px 3px #3E5C76;
}


h2,
h3,
a {
  color: #1D2D44;
}

h2 {
  margin-top: 10px;
}

a {
   text-decoration: none;
}

.portfolio-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 15px;
}

.profile-image {
  max-width: 70%;
  max-height: 70%;
}

/* This CSS removes the bullets from the list items, doesn't center it though */


/*=================================
Pseudo-Styles 
================================== */

.main-nav a:hover {
	color: #5eac9b;
} 

.skills a:hover {
  color: #f89451;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
  font-size: 2em;
  display: block;
}

.main-nav li {
	background: #fff;
	margin-top: 6px;
  margin-bottom: 6px;
}


/* Main styles ----*/

.profilepic {
  max-width: 100%; 
  border-radius: 5px;
}

.main-header {
  max-width: 100%;
  max-height: 100%;

}

.name {
  display: block;
  font-size: 1.8em;
  /* text-align: center; */
}

.nav {
  padding: 10px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  max-width: 100%;
}

.nav li {
  display: block;
  background: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  list-style-type: none;
}

.bio {
  text-align: left;
  padding: 10px;
  margin: 0 auto;
  line-height: 1.3em;
}

.main-heading {
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.portfolio {
  background-color:#fffae7;
}
/* This allows the list items in mobile view to align side by side along the bottom. */

#contact {
  padding: 20px 0;
}/* This puts padding around the #contact id container at the bottom of the page*/

footer {
  text-align: initial;
} /*This causes my name in the footer to align left when in the mobile view. */

.bottom-name {
  font-size: 1em;
  line-height: 0.15;
  float: left;
} /*This aligns my name with the "back to top" on the same line.  The font size is reduced and line height aligns the name with "back to top"*/

.footer-nav ul {
  padding-left: 0;
  list-style: none;
  text-align: right;
}

.footer-nav li {
  display: inline-block;
} /*This causes the "back-to-top" text to align to the right of my name. */

.footer-nav a {
  line-height: 2.15;
} /*This changes the line height between the nav items in the footer unordered list and separates the items in the inline list.  Multiply times the default font size.*/

.mobile-nav {
  display: none;
} /*This hides three of the items in the mobile-nav class when viewed in the mobile viewport.*/

.skills, 
li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  margin: 0 10px;
}

/* ---- Layout Containers ---- */


 .container {
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    background-color: #748CAB;
    padding: 10px;
    margin-bottom: 100px;
    border-radius: 5px;
}

 
/* ================================= 
 Media Queries 
==================================== */

 @media (min-width: 768px) {

    .main-nav {
         margin: 30px auto 60px;
    }
    .main-nav li {
      display: inline-block;
      margin: 0 10px;
    }
/* The CSS above allows the list items and name to stretch out beyond the same line*/

     
    .main-nav a {
      background:#e1e6e4;
      padding: 10px;
    }

    .profilepic {
      float: right;
      margin: 0 auto;
      width: 50%;
    }

    .bio {
        float: left;
        text-align: left;
        padding: 10px 10px;
        margin: 0 auto;
        line-height: 1.3em;
        width: 50%;
    }
    
    
    #content-group div {
      min-height: 425px;
    } /*This constrains the size of this container*/

    .marketing {
      float: left;
      width: 50%;
    }
    
    .search {
      float: left;
      width: 50%;
    }
    
    .travel {
      float: left;
      width: 50%;
    }
    
    .map {
      float: left;
      width: 50%;
    }
    
    .gallery {
      float: left;
      width: 50%;
    }
    
    .calculator {
      float: left;
      width: 50%;
    }



    .back-to-top {
      display: none;
    } /*This makes the display of "back to top" dissappear at the bottom of the page.*/

    .mobile-nav {
      display: inline-block;
    }   /* This causes the mobile nav list items to show up and appear side by side.*/

}


@media (min-width: 1024px) {
  .main-nav {
    text-align: initial;
  }
    .name {
      float: left;
      line-height: 0.15;
      margin-left: 10px;
    } /*This causes my name to float to the left in wider 1024 viewport.*/

    .main-nav ul {
      text-align: right;
    } /* This causes the mobile nav ul list items to appear at the bottom right in >1024px viewport.*/
    
    .marketing {
      float: left;
      width: 33.3%;
    }
    
    .search {
      float: left;
      width: 33.3%;
    }
    
    .travel {
      float: left;
      width: 33.3%;
    }
    
    .map {
      float: left;
      width: 33.3%;
    }
    
    .gallery {
      float: left;
      width: 33.3%;
    }
    
    .calculator {
      float: left;
      width: 33.3%;
    }

    
    }

  /*Float Clearfix*/
   
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }